.menus-wrapper {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.menu-item {
  position: relative;
  &:first-child {
    .menu-item-link {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
.menu-item-link {
  display: block;
  color: $text-color-grey;
  text-decoration: none;
  padding: 10px 8px;
  margin: 0 10px;
  &:hover {
    color: $text-color-white;
  }
}
.search-input {
  width: 380px;
  padding: 14px 16px;
  background-color: rgba(255,255,255,.2);
  color: $text-color-grey;
  border: 0;
  outline: none;
  border-radius: 22px;
}
input[list] {
  margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.search-items-wrapper {
  list-style-type: none;
  position: absolute;
  top: 50px;
  border-radius: 22px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 11px #111;
  z-index: 3;
}
.search-item {
  background-color: #1c2023;
  &:nth-child(2n+1) {
    background-color: #212529;
  }
  > .search-item-link {
    color: $text-color-grey;
    padding: 20px 12px;
    display: block;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.hide {
  display: none;
}