.menus-wrapper {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.menu-item {
  &:first-child {
    .menu-item-link {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
.menu-item-link {
  display: block;
  color: $text-color-grey;
  text-decoration: none;
  padding: 10px 8px;
  margin: 0 10px;
  &:hover {
    color: $text-color-white;
  }
}
.search-input {
  width: 380px;
  padding: 14px 16px;
  background-color: rgba(255,255,255,.2);
  color: $text-color-grey;
  border: 0;
  outline: none;
  border-radius: 22px;
}